* {
  padding: 0;
  margin: 0;
  border: 0;

  font-family: 'Open Sans', sans-serif;
}
html, body {
  width: 100%;
  min-height: 100vh;

  background-color: #97c260;
}

/* HEADER STUFF */
.header {
  width: 100%;
  background-color: #57ac47;
  background-image: url('https://gist.githubusercontent.com/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/LbjXkjc.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.title {
  width: 100%;
  height: 65vh;
  font-size: 10em;
  text-align: center;
  line-height: 65vh;
  color: #efe;
  text-shadow: 1px 1px 2px #000;

  font-family: 'Pacifico', cursive;
}
.search {
  width: 50vw;
  margin-left: 25vw;
  font-size: 1.5em;
  color: #232;

  background-color: #f0f;
  border-radius: 3px;
  padding: 12px;
  box-sizing: border-box;
  padding-right: 48px;

  height: 2em;

  background-color: #efe;
  color: #232;

  position: relative;

  box-shadow: 0px 0px 75px #000;
}
.search input {
  box-sizing: border-box;
  font-size: 100%;


  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;

  padding: 12px;

  width: calc(100% - 36px);

  background-color: transparent;
}
.search .fa-search {
  position: absolute;
  right: 18px;
  top: 4px;
  line-height: 1.5em;
  font-size: 1em;

  color: #418637;
}

.actions {
  position: fixed;
  top: 0;
  width: auto;
  border-radius: 0 0 0 4px;
  right: 0;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.2em;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.1);

  padding: 0 6px;
  box-sizing: border-box;

  color: #dfd;

  box-shadow: 2px 0px 5px #000;
}
.actions a {
  font-weight: 100;
  color: #57ac47;
  text-decoration: none;
}
