$root-colour: #75b540;
$dark-1: #69a239;
$dark-2: #5d9033;
$dark-3: #517e2c;
$dark-4: #466c26;
$dark-5: #3a5a20;
$dark-6: #2e4819;
$dark-7: #233613;
$dark-8: #17240c;
$dark-9: #0b1206;
$dark-10: #000000;
$light-1: #82bc53;
$light-2: #90c366;
$light-3: #9ecb79;
$light-4: #acd28c;
$light-5: #bada9f;
$light-6: #c7e1b2;
$light-7: #d5e8c5;
$light-8: #e3f0d8;
$light-9: #f1f7eb;
$light-10: #ffffff;

$fg-colour: $dark-9;
$bg-colour: $light-9;
$header-colour: $dark-6;
$header-lighter: $dark-4;
$search-icon: #777;
$search-text: #eee;
$burger-colour: #ddd;

$skelly-colour: $light-8;
$skelly-i-colour: $light-7;

$sidebar-colour: $dark-3;
$sidebar-foreground: $light-8;
$sidebar-icons: $light-6;
$sidebar-inactive: $root-colour;
$sidebar-div: $dark-4;

$subheading: $dark-5;
$body-div: $light-7;

$profile-bg: $light-9;
$profile-top: $dark-1;

$header-colour: $dark-1;
$sidebar-colour: #141714;
$bg-colour: #F9FAF9;
$body-div: $dark-3;
$tag-colour: $light-5;
$sidebar-foreground: $light-4;
$sidebar-icons: $dark-1;

* {
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;

  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: "Open Sans", Arial, sans-serif;

  transition: all 0.1s ease-in-out;
}
html, body {
  width: 100%;
  min-height: 100vh;

  color: $fg-colour;

  word-wrap: break-word;

  background-color: $bg-colour;
}

.cursive {
  font-family: 'Pacifico', cursive;
}

.avatar-large {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  background-size: cover !important;
  background-position: center !important;

  background-image: url("https://gist.github.com/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/B1lMORS%2520-%2520Imgur.jpg");

  background-color: $skelly-colour;
}
.avatar-small {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;

  border-radius: 9px;
  background-size: cover !important;
  background-position: center !important;

  background-image: url("https://gist.github.com/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/B1lMORS%2520-%2520Imgur.jpg");

  background-color: $skelly-colour;
}

.page-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* TOP BAR */
.header-bar {
  height: 56px;
  width: 100%;
  background-color: $header-colour;
  color: #fff;
  font-size: 24px;

  padding: 0 16px;

  display: flex;
  flex-direction: row;

  box-shadow: 0px -1px 3px #000;

  z-index: 10;
}
#burger-logo {
  vertical-align: center;
  line-height: 40px;
  padding: 8px;
  margin-right: 16px;

  color: $burger-colour;
}
#header-logo {
  line-height: 56px;
  font-size: 24px;
  margin-right: 16px;
  width: 72px;
}
.search {
  margin-right: 16px;
  margin-left: 16px;

  height: 32px;

  max-width: 656px;
  width: 100%;

  position: relative;

  margin: 12px 24px;

  border-radius: 3px;
  box-sizing: border-box;

  background-color: transparent;

  border: 1px solid $header-lighter;
}
.search input {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;

  padding: 10px;

  font-size: 16px;

  width: calc(100% - 56px);

  border-right: 1px solid $header-lighter;
  color: $search-text;

  background-color: transparent;
}
.search .fa-search {
  position: absolute;
  right: 22px;
  top: -1px;

  font-size: 14px;
  line-height: 32px;

  color: $search-icon;
}
.expand {
  flex-grow: 1;
}
#user-avatar {
  margin: 8px;
}

/* TAG BAR */
.tag-bar {
  display: none;

  width: 100%;
  height:48px;
  background-color: $sidebar-colour;
  box-shadow: 0 1px 2px #000;
  z-index: 5;

  padding: 12px;
}
.tag-bar .lead-in {
  margin: 0 2px 0 0;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: $sidebar-foreground;
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px;
}
.tag {
  margin: 0 6px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  display: inline-block;
  padding: 0 9px;
  border-radius: 1.5px;
  background-color: $tag-colour;

  box-shadow: 0px 2px 2px -2px #000;

  position: relative;
}
.tag::after {
  box-shadow: 0px 3px 4px -2px #000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.tag:hover::after {
  opacity: 1;
}

/* SIDE BAR */
.body {
  flex-grow: 1;
  width: 100%;

  height: calc(100vh - 104px);

  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 240px;

  height: 100%;
  /*width: 180px;*/
  padding: 5px 0;

  z-index: 5;
  background-color: $sidebar-colour;
  color: $sidebar-foreground;
  box-shadow: -1px 0px 2px #000;

  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}
.sidebar-item {
  width: 100%;

  padding: 0 8px;
  height: 30px;

  display: flex;
  transition: background-color .1s ease-out;
}
.sidebar-item:not(.sb-header):hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
}
.sidebar-item.active .fa {
  color: $sidebar-icons;
}
.sidebar-item.active .sb-it {
  font-weight: 800;
}
.sidebar-item .fa {
  color: $sidebar-icons;
  margin-right: 12px;
  font-size: 16px;
  margin-top: 0px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}
.sidebar-item.sb-header .sb-it {
  font-size: 18px;
  font-weight: 800;
  line-height: 30px;
  margin-top: 0px;
  display: inline;

  text-overflow: "...";
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-item:not(.sb-header) .sb-it {
  font-size: 14px;
  line-height: 30px;
  margin-left: 8px;
  display: inline;

  text-overflow: "...";
  overflow: hidden;
  white-space: nowrap;
}
.sb-div {
  width: 100%;
  height: 1px;
  background-color: $sidebar-div;
  margin: 5px 0;
}

/* MAIN CONTENT */
.body-content {
  flex-grow: 1;

  height: calc(100vh - 104px);
  width: calc(100% - 256px);
  z-index: 0;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}
.video-group {
  margin: 24px 48px;
}
.group-title {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 800;
}
.group-subt {
  color: $subheading;
  font-size: 13px;
  font-weight: 200;
  margin-left: 14px;
}

.bd-div {
  margin: -24px 128px 0 128px;
  min-height: 1px;
  background-color: $body-div;
}

.video-row {
  display: flex;
  flex-direction: row;

  width: 100%;

  margin-bottom: 36px;

  min-width: 0;
}

.video-card {
  margin-right: 14px;
  width: 20%;
  flex-grow: 1;
  flex-basis: 25%;
  min-width: 0;
}
.thumbnail {
  background-color: $skelly-colour;

  background-image: url("https://gist.github.com/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/EdAGGFS.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  content: '';
}
.video-title {
  min-width: 0;
  position: relative;
  margin: 8px 0;
  width: 100%;
  height: 18px;
  font-size: 14px;
  line-height: 18px;

  white-space: nowrap;
  overflow: hidden;
}
.fade-out {
  position: relative;
}
.fade-out:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(to right, transparent 80%, $bg-colour);
}

.video-subtext {
  display: flex;
  flex-direction: row;
}
.video-subtext .avatar-small {
  min-width: 18px;
}
.video-subtext .author-name {
  margin: 0 10px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  position: relative;

  white-space: nowrap;
  overflow: hidden;
}
.video-subtext .view-count {
  text-align: right;
  flex-grow: 1;
  height: 18px;
  font-size: 12px;
  line-height: 18px;

  white-space: nowrap;
}

.video-title:after {  content: "Dank memes so dank you'll dank yourself to the moon"; }
.author-name:after {  content: "Author name here - But I'm an asshole so it's long"; }
.view-count:after {  content: "30,000"; }
.username:after {  content: "Author name here - But I'm an asshole so it's long"; }
.email:after {  content: "ohffs@gmail.com"; }
.profile-popout { display: none; }

.skel {
  /*background-color: $skelly-colour;*/
  flex-grow: 1;
}
.skel-i {
  /*background-color: $skelly-i-colour;*/
}

/* SIDE POPOUT */
.profile-popout {
  width: 300px;
  height: 400px;
  background-color: $profile-bg;

  position: absolute;
  top: 52px;
  right: 24px;
  z-index: 15;

  box-shadow: 0px 1px 3px #000;
}
.popout-top {
  height: 72px;
  width: 100%;
  padding: 16px;
  background-color: $profile-top;
  display: flex;
}
.popout-top .avatar-large {
  margin-right: 16px;
  min-width: 40px;
  background-color: $skelly-i-colour;
}
.user-info {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  min-width: 0;
}
.popout-top .username {
  width: 100%;
  height: 18px;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;

  white-space: nowrap;
  overflow: hidden;
}
.popout-top .email {
  width: 100%;
  height: 18px;
  font-size: 13px;
  line-height: 18px;

  white-space: nowrap;
  overflow: hidden;
}

.popout-top .fade-out:before {
  height: 100%;
  background: linear-gradient(to right, transparent 80%, $profile-top);
}
