$root-colour: #75b540;
$dark-1: #69a239;
$dark-2: #5d9033;
$dark-3: #517e2c;
$dark-4: #466c26;
$dark-5: #3a5a20;
$dark-6: #2e4819;
$dark-7: #233613;
$dark-8: #17240c;
$dark-9: #0b1206;
$dark-10: #000000;
$light-1: #82bc53;
$light-2: #90c366;
$light-3: #9ecb79;
$light-4: #acd28c;
$light-5: #bada9f;
$light-6: #c7e1b2;
$light-7: #d5e8c5;
$light-8: #e3f0d8;
$light-9: #f1f7eb;
$light-10: #ffffff;

$fg-colour: $dark-9;
$bg-colour: #233613;

$header-colour: /*#557C35*/
        $dark-5;
$header-fg: $light-9;
$header-links: $light-7;
$search-border: #daded8;
$nav-button: /*#6da441*/
        $dark-4;

$caption-colour: /*#0E9BD8*/
        $dark-6;
$caption-fg: #fff;

$footer-colour: #191C17;

$mobile-thresh: 600px;
$mobile-thresh-sub: 601px;

* {
  padding: 0;
  margin: 0;
  border: 0;

  font-family: "Roboto", Arial, sans-serif;

  transition: all 0s ease-in-out;

  box-sizing: border-box;
  font-size: inherit;
}

a {
  color: inherit;
}

html, body {
  width: 100%;
  min-height: 100vh;

  color: $fg-colour;

  word-wrap: break-word;

  background-color: $bg-colour;

  position: relative;
}

.cursive {
  font-family: 'Pacifico', cursive;
}

.expand {
  flex-grow: 1;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header-bar {
  height: 50px;
  width: 100%;

  background-color: $header-colour;
  display: flex;
  z-index: 10;
}

.header-bar-mob {
  height: 50px;
  width: 100%;

  background-color: $header-colour;
  display: table !important;
  table-layout: fixed;
  z-index: 5;
}

.header-bar-mob > * {
  display: table-cell;
  vertical-align: middle;
  height: 100%;

  text-align: center;
  color: $header-links;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
  transition: all 0.1s ease;
}

.header-bar-mob > *:hover, .header-bar-mob > *.active {
  color: $header-fg;
  background-color: darken($header-colour, 2);
}

.search-bar {
  height: 50px;
  background-color: lighten($header-colour, 4);
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: top 0.2s ease-in;
}

#search-grow {
  height: 0;
  transition: height 0.2s ease-in;
}

.header-logo {
  padding: 8px 15px;
  font-size: 26px;
  color: $header-fg;
  line-height: 30px;
  width: 124px;
  text-align: center;
}

.nav-links {
  display: flex;
}

.nav-link {
  height: 100%;
  padding: 0 15px;
  line-height: 49px;
  vertical-align: middle;
  color: $header-links;
  font-size: 14px;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}

.nav-link:hover {
  text-decoration: underline;
  color: $header-fg;
}

.search-pad {
  max-width: 400px;
  flex-grow: 1;
  padding: 10px 10px 10px 25px;
}

.search-pad-mob {
  padding: 5px;
  width: 100%;
  height: 100%;
}

.search-mob {
  width: 100%;
  height: 100%;
  position: relative;
}

.search-mob > input {
  height: 100%;
  width: 100%;
  padding: 5px 10px 5px 40px;
  border: 1px solid $search-border;
  font-size: 15px;
}

.search-mob > .fa {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: -1px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}

#header-menu {
  position: absolute;
  top: 50px;
  right: 10px;
  min-width: 156px;
  background-color: $dark-4;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 4px #000;
  z-index: 5;
}

.header-menu-item:last-child {
  border-radius: 0 0 3px 3px;
}

.header-menu-item {
  text-decoration: none;
  line-height: initial;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.header-menu-item.active {
  font-weight: 800;
}

.header-menu-item.link:hover {
  background-color: $dark-5;
}

.header-menu-div {
  margin: 5px 15px;
  height: 1px;
  background-color: $light-5;
}

.search {
  width: 100%;
  height: 100%;
  position: relative;
}

.search > input {
  height: 100%;
  width: 100%;
  padding: 5px 10px 5px 30px;
  border: 1px solid $search-border;
  font-size: 12px;
}

.search > .fa {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -1px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}

.nav-buttons {
  height: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-shrink: 0;
}

.nav-button {
  height: 100%;
  margin-right: 10px;
  background-color: $nav-button;
  color: #fff;
  font-size: 12px;
  padding: 0 8px;
  line-height: 28px;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
}

.nav-button > a {
  text-decoration: none;
}

.nav-button:hover {
  background-color: lighten($nav-button, 2);
  border: 1px solid lighten($nav-button, 2);
}

.btn-txt {
  font-size: 12px;
  text-decoration: none;
}

/* CAPTION */
.caption-bar {
  height: 45px;
  width: 100%;

  background-color: $caption-colour;
}

.caption-text {
  line-height: 45px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: $caption-fg;
}

/* BODY */
.page-content {
  flex-grow: 1;

  padding: 0;

  display: flex;
  flex-direction: column;
}

.central-body {
  flex-grow: 1;
  width: 100%;

  padding-bottom: 16px;
}

.video-row {
  display: flex;
  flex-direction: row;
  height: 20vh;
  min-height: 200px;
  padding: 8px 0;

  opacity: 0;
}

.video-row > div {
  flex-grow: 1;
}

.featured-thymes {
  background-color: transparent;
  height: 30vh;
}

.video-row > .vbtn {
  flex-grow: 0;
}

.vbtn {
  width: 35px;
  height: 40%;
  background-color: #ddd;
  margin: 30% 10px;
  position: relative;
  box-shadow: 0 0 0 #000;
}

.vbtn > i {
  position: absolute;
  color: #888;
  left: 50%;
  top: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
}

.vbt-l > i {
  padding-right: 2px;
}

.vbt-r > i {
  padding-left: 2px;
}

.video-card {
  position: relative;
  background-color: #000;
  box-shadow: 0 0 0 #000;
  margin: 8px;
  display: flex;
  flex-direction: column;

  opacity: 0;
}

.video-meta {
  width: 100%;
  height: auto;
  color: #fff;
  background-color: rgba(#000, 0.5);

  padding: 5px;

  position: absolute;
  top: 0;

  z-index: 1;
}

.video-meta.m-sub {
  top: auto;
  bottom: 0;
}

.video-views {
  font-size: 16px;
  line-height: 18px;
  font-style: oblique;
}

.video-title {
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.video-author {
  font-size: 14px;
  line-height: 16px;
  font-style: oblique;
  font-weight: 400;
}

.video-thumb {
  position: absolute;

  background-color: #000;

  background-image: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.video-thumb-p {
  position: absolute;

  background-color: #000;

  background-image: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  filter: blur(10px);
}

.row-header {
  font-size: 19px;
  margin: 0 62px;
  margin-top: 24px;
  margin-bottom: 8px;
  border-bottom: 1px solid $dark-2;
  font-weight: 700;

  opacity: 0;
}

.sub-heading {
  margin-left: 14px;
  color: $dark-4;
  font-weight: 200;
  font-size: 15px;
  font-style: oblique;
}

.skel, .skel > * {
  border-color: #eee;
  box-shadow: none;
}

.video-row.skel > *, .video-row.skel {
  opacity: 1;
}

.video-card.skel, .skel > .vbtn, .skel > .vbtn > i {
  background-color: #eee;
  color: #ddd;
}

.row-header.skel {
  position: relative;
  height: 1.5em;
  opacity: 1;
}

.row-header.skel::after {
  content: '';
  width: 20%;
  background-color: #eee;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 4px;
}

.row-header.skel > .sub-heading {
  position: absolute;
  left: 20%;
  top: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
}

.row-header.skel > .sub-heading::after {
  content: '';
  background-color: #eee;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 4px;
}

/* LOGIN */
.login-container {
  width: 50%;
  height: 100%;
  margin-left: 25%;
  background-color: $light-1;

  margin-bottom: -16px;
}

/* FOOTER */
.page-footer {
  width: 100%;
  padding: 30px 0;
  height: 150px;

  flex-shrink: 0;

  background-color: $footer-colour;
}

/* Generics */
@media only screen and (max-width: $mobile-thresh), only screen and (max-height: $mobile-thresh) {
  .nomobile {
    display: none !important;
  }

  #rhs {
    position: absolute;
    left: 100%;
    transition: left 0.2s ease-in-out;
    padding: 0 5px;
    top: 50px;
    height: calc(100% - 50px);
    background-color: #233613;
    z-index: 100;
    width: 80% !important;
    box-shadow: 1px 2px 2px #000;
  }
  #lhs {
    width: 100% !important;
  }
}

@media only screen and (min-width: $mobile-thresh-sub) and (min-height: $mobile-thresh-sub) {
  .mobile {
    display: none !important;
  }
}

.ctr-x {
  justify-content: center;
}

.ctr-y {
  align-items: center;
}

.fc {
  display: flex;
  flex-direction: column;
}

.fb {
  display: flex;
  flex-direction: row;
}

.ta-c {
  text-align: center;
}

.fs {
  flex-shrink: 0;
}

.fg {
  flex-grow: 1;
}

.flt-r {
  float: right;
}

.flh {
  height: 100%;
}

.flt-l {
  float: left;
}

.flw {
  width: 100%;
}

.skel {
  background-color: #e6e6e6;
  background-image: none;
  box-shadow: none;
  border: none;
}

