#central-column {
  padding: 10px;
  width: 100%;
  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  transition: padding 0.2s ease, max-width 0.5s ease; }

#page-region {
  min-height: 100%;
  position: relative;
  flex-grow: 1; }

#upload-region {
  width: 100%;
  height: 400px;
  min-height: 400px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 2px 2px #000;
  position: absolute;
  transition: height 0.5s ease, min-height 0.5s ease; }

#middle-logo {
  position: absolute;
  left: 5%;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

#ml-ico, #ml-cap, #ml-sub {
  cursor: pointer; }

#ml-cap {
  font-size: 20px;
  margin: 15px 0 9px;
  color: #444; }

#ml-sub {
  padding: 7px;
  color: #777;
  font-size: 15px; }

#ml-name {
  padding: 7px;
  color: #999;
  font-style: italic;
  font-size: 12px; }

#ml-ico {
  font-size: 80px;
  color: #ccc; }

#continue-btn {
  display: inline-block;
  margin-top: 5px; }

#uploading {
  width: 100%;
  height: 100%;
  padding: 10px; }

#upload-bar {
  width: 100%;
  background-color: #ccc;
  height: 35px;
  position: relative;
  line-height: 35px;
  font-size: 14px;
  padding-left: 5px;
  overflow: hidden;
  color: #222; }

#u-bar-progress {
  padding-left: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3%;
  background-color: #75b540;
  overflow: hidden;
  text-wrap: none;
  white-space: nowrap;
  color: #fff;
  transition: width 0.2s linear; }

#title {
  width: 100%;
  height: 25px;
  color: #000;
  font-size: 13px;
  line-height: 25px;
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 0 5px; }

#title:focus {
  border: 1px solid #999; }

#uploading-sidebar {
  width: 250px;
  flex-shrink: 0; }

#uploading-main {
  width: 100%; }

#description {
  color: #000;
  font-size: 13px;
  padding: 5px;
  border: 1px solid #ddd;
  width: 100%;
  resize: vertical; }

#description:focus {
  border: 1px solid #999; }

#tags:empty:before {
  content: "Tags";
  color: #777;
  display: block; }

#tags {
  font-size: 13px;
  line-height: 30px;
  min-height: 30px;
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap; }

.tag {
  flex-shrink: 0;
  padding: 5px;
  color: #555;
  border: 1px solid #999;
  border-radius: 2px;
  display: inline-block;
  margin: 5px 0 5px 5px;
  font-size: 13px;
  line-height: 15px; }

.tag-close {
  color: #777;
  display: inline;
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none; }

.tag-close:hover {
  color: #222; }

#current-tag {
  flex-grow: 1;
  margin: 5px;
  color: #000; }

#tags:focus-within {
  border: 1px solid #999;
  outline: none !important; }

#tags:-moz-focusring {
  outline: none !important; }

#tabs {
  width: 100%;
  border-bottom: 1px solid #ddd; }

.tab {
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px 5px;
  margin-bottom: -1px;
  font-size: 15px; }

.tab.active {
  border-bottom: 3px solid #466c26; }

#video-thumb {
  width: 230px;
  height: 130px;
  background-color: #000;
  margin-right: 10px; }

#sb-sub {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 13px;
  color: #444; }

#sb-sub > a {
  color: #3a5a20; }

.dd-parent {
  font-size: 13px;
  position: relative;
  margin: 10px 0; }

select {
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  color: #5C616C;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.dd-parent:after {
  content: "";
  border: solid #5C616C;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  height: 1px;
  width: 1px;
  right: 15px;
  top: 8px;
  pointer-events: none;
  line-height: 30px; }

.dd-parent > a {
  color: #3a5a20;
  font-size: 12px; }

select::-ms-expand {
  display: none; }

select:focus {
  border: 1px solid #999; }

select:focus-within {
  border: 1px solid #999;
  outline: none !important; }

select:-moz-focusring {
  outline: none !important;
  color: transparent;
  text-shadow: 0 0 0 #5C616C; }

.btn {
  padding: 15px;
  font-size: 0.8em;
  color: #fff;
  background-color: #75b540;
  border: 1px solid #90c366;
  user-select: none;
  -moz-user-select: none;
  text-decoration: none; }

.btn.disabled {
  color: #888;
  background-color: #ccc;
  border: 1px solid #ddd; }

.btn:not(.disabled) {
  cursor: pointer; }

.btn:not(.disabled):hover {
  background-color: #69a239; }

.btn:focus {
  outline: none !important; }

.btn:-moz-focusring {
  outline: none !important; }

.il-btn {
  padding: 0 20px;
  height: 35px;
  line-height: 33px;
  margin-left: 5px;
  font-size: 14px;
  display: inline-block; }

@media (max-width: 800px) {
  #upload-region {
    border-radius: 0;
    box-shadow: 0 1px 2px #000; }

  #central-column {
    padding: 10px 0; } }

/*# sourceMappingURL=upload.css.map */
