$sb-colour: #191C17;
$bar-colour: #75b540;
$bar-bg: rgba(255, 255, 255, 0.25);

$rule-colour: rgba(255, 255, 255, .1);

$button-col: #ddd;

.central-body {
  padding: 0;

  color: #fff;
}

.central-body {
  display: flex;
  flex-direction: row;
}

.sidebar-left {
  width: 56px;
  height: 100%;
  background-color: $sb-colour;
}

.fb {
  display: flex;
  flex-direction: row;
}

.sh {
  flex-shrink: 0;
}

.fg {
  flex-grow: 1;
}

.rld {
  border-bottom: 1px solid $rule-colour;
}

.pfp {
  border-radius: 50%;
  background-size: cover;
  width: 48px;
  height: 48px;
  margin-right: 16px;
  box-shadow: -1px 2px 2px #000;
  background-color: $bar-colour;
  background-position: center;
}

.pfp-ni {
  color: #fff;
  font-size: 24px;
  padding-right: 4px;
  text-align: center;
  line-height: 48px;
}

#a-folls {
  color: rgba(255, 255, 255, .5);
}

.sh-mre {
  font-size: 13px;

  font-weight: 500;
  text-transform: uppercase;

  margin-top: 2px;
  color: rgba(255, 255, 255, .6);
  display: block;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.central-body {
  flex-grow: 1;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;

  margin: auto;
  max-width: 1500px;
}

.heading {
  width: 100%;
  padding: 20px 0 8px 0;
  border-bottom: 1px solid $rule-colour;
}

#title {
  line-height: 24px;
  font-size: 18px;
}

#tags {
  width: 100%;
  font-size: 0;
}

#stats {
  line-height: 20px;
  font-size: 16px;

  color: rgba(255, 255, 255, .6);
  height: 30px;
  display: flex;
  align-items: center;
}

.rule {
  width: 100%;
  height: 1px;
  background-color: $rule-colour;
  position: absolute;
  bottom: -2px;
  left: 0;
}

#tags > * {
  display: inline-block;
  margin-right: 5px;
  line-height: 15px;
  font-size: 12px;
}

.tag {
  color: rgb(62, 166, 255);
  text-decoration: none;
  width: auto;
  border: 1px solid rgba(62, 166, 255, .5);
  padding: 1px 5px 0;
}

.tag:hover {
  background-color: rgba(255, 255, 255, .1);
}

#tags-sub {
  color: #808080;
  margin-left: 2px;
}

.mid-section {
  flex-grow: 1;
}

.video-area {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
  float: left;
  position: relative;
}

.watch-next {
  width: 25%;
  padding-left: 16px;
  height: 100%;
  min-height: 100%;
  float: right;
}

.next-thumb {
  width: 100%;
  height: 128px;
  background-color: #eee;
  margin-bottom: 16px;
  position: relative;
}

.next-thumb:after {
  content: '\f03d';
  font-family: FontAwesome;
  color: #ccc;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-box {
  width: 100%;
  float: left;
  padding-bottom: 8px;
}

.sub-video {
  width: 100%;
}

.sv-row {
  margin-left: 64px;
  font-size: 14px;
  line-height: 1.4em;
}

.sv-row:first-child {
  margin-left: 0;
  margin-bottom: 12px;
  padding-top: 16px;

  display: flex;
  align-items: center;
}

.vid-sect {
  width: 75%;
  float: left;
}

.cmt-ath {
  font-size: 14px;
  padding: 3px;
}

.cmt-dt {
  padding: 3px;
}

@media screen and (max-width: 900px) {
  .vid-sect {
    width: 100%;
  }
  .watch-next {
    width: 100%;
    padding: 0;
    font-size: 0;
    min-height: auto;
    height: auto;
  }
  .next-thumb {
    width: 100%;
    height: 96px;
    margin: 4px 0;
    padding: 0;
    display: inline-block;
  }
  .central-body {
    padding: 8px;
  }
}

/* VIDEO VIEWER */
.video-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.video-stream {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65));
  transition: opacity 0.2s ease-in-out;
}

/*.video-controls:hover {
  opacity: 1;
}*/
.c-seek-bar {
  flex-grow: 1;
}

.inner-controls > button {
  color: $button-col;
}

.inner-controls > * {
  height: 100%;
  margin: 0 5px;
  color: #eee;
  background: none;
  decoration: none;
  outline: none;
  line-height: 36px;
  font-size: 16px;
}

.inner-controls {
  display: flex;
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 0;
  height: 36px;
}

#timestamp {
  padding-top: 0.5px;
}

.c-seek-bar {
  height: 15px;
  left: 16px;
  right: 16px;
  bottom: 36px;
  position: absolute;
  background-color: transparent;
}

.c-seek-bar:hover > .c-sb-handle {
  height: 13px;
  width: 13px;
  border-radius: 6.5px;
  top: 50%;
  transform: translateY(-50%);
}

.c-seek-bar:hover > .c-sb-scrub {
  opacity: 1;
}

.c-seek-bar > * {
  height: 3px;
}

.c-seek-bar:hover > * {
  height: 5px;
}

.c-sb-bg {
  background-color: $bar-bg;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.c-sb-prog {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  background-color: $bar-colour;
  position: absolute;
  z-index: 10;
}

.c-sb-buff {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  position: absolute;
  background-color: $bar-bg;
  z-index: 5;
}

.c-sb-scrub {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  position: absolute;
  background-color: $bar-bg;
  z-index: 5;
  opacity: 0;
}

.c-sb-handle {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  border-radius: 0;
  background-color: $bar-colour;
  position: absolute;
  bottom: 1.5px;
  z-index: 10;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}
