* {
  box-sizing: border-box; }

body, html {
  background-color: #233613; }

#central-column {
  width: 100%;
  max-width: 750px;
  min-height: 100%;
  margin: 0 auto; }

.video-info {
  font-size: 14px; }

.video-info > * {
  margin: 4px; }

.pane-video-card {
  margin: 10px 0 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px #000;
  background-color: #fff;
  padding: 20px;
  width: 100%; }

.pane-video-card.mini {
  padding: 10px; }

.mini-video-info > .fc {
  height: 100%; }

.description {
  font-size: 12px;
  line-height: 13px; }

.description > p {
  margin: 2px 0; }

.description > .more > p {
  margin: 2px 0; }

@media (max-width: 800px) {
  .pane-video-card {
    border-radius: 0;
    box-shadow: 0 1px 2px #000; } }
.card-video-sec {
  background-color: #000;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
  background-size: cover;
  background-position: center;
  position: relative; }

.thumb {
  background-color: #000;
  height: 90px;
  width: 160px;
  background-size: cover;
  background-position: center; }

.mini-btn-row {
  margin-top: 5px;
  font-size: 12px;
  color: #555;
  display: block;
  text-align: left;
  user-select: none;
  -moz-user-select: none; }

.mini-btn-row > div {
  cursor: pointer;
  display: inline;
  text-align: left;
  user-select: none;
  -moz-user-select: none; }

.mini-btn-row > div:hover {
  text-decoration: underline; }

.comments-tog {
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  display: block;
  user-select: none;
  -moz-user-select: none; }

.mini-video-info {
  padding-left: 10px;
  font-size: 14px; }

.pfp {
  border-radius: 50%;
  background-size: cover;
  width: 38px;
  height: 38px;
  box-shadow: -1px 2px 2px #000;
  background-color: #75b540;
  background-position: center; }

.pfp.mini {
  width: 24px;
  height: 24px;
  box-shadow: none; }

.mini-title {
  margin-left: 5px;
  line-height: 24px; }

.mini-video-info > .title {
  height: 26px; }

.title, .author, .views {
  margin: 3px 0; }

.author {
  border-top: 1px solid #75b540;
  padding-right: 10px; }

.views {
  border-top: 1px solid #75b540; }

.title {
  font-weight: bold; }

.comment {
  border-bottom: 2px solid #d0e6c3;
  padding: 5px 2px 1px 5px;
  font-size: 14px;
  border-left: 1px dotted #d0e6c3; }

.comment.child {
  margin-top: 5px;
  margin-left: 15px; }

.cmt-ath {
  font-size: 10px;
  cursor: pointer; }

.cmt-ath:hover {
  text-decoration: underline; }

.cmt-time {
  font-size: 10px;
  color: #888; }

.cmt-dt {
  padding: 5px; }

.cmt-act > * {
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  color: #888; }

.cmt-act > *:hover {
  text-decoration: underline; }

.show-full {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  color: #818c79;
  border: 2px solid #d0e6c3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 5px auto; }

.show-full:hover {
  background-color: #d0e6c3;
  color: #2f332c; }

/* VIDEO VIEWER */
.video-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute; }

.video-stream {
  width: 100%;
  height: 100%;
  position: absolute; }

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65));
  transition: opacity 0.2s ease-in-out; }

/*.video-controls:hover {
  opacity: 1;
}*/
.c-seek-bar {
  flex-grow: 1; }

.inner-controls > button {
  color: #ddd; }

.inner-controls > * {
  height: 100%;
  margin: 0 5px;
  color: #eee;
  background: none;
  decoration: none;
  outline: none;
  line-height: 36px;
  font-size: 16px; }

.inner-controls {
  display: flex;
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 0;
  height: 36px; }

.timestamp {
  padding-top: 0.5px; }

.c-seek-bar {
  height: 15px;
  left: 16px;
  right: 16px;
  bottom: 36px;
  position: absolute;
  background-color: transparent; }

.c-seek-bar:hover > .c-sb-handle {
  height: 13px;
  width: 13px;
  border-radius: 6.5px;
  top: 50%;
  transform: translate(-50%, -50%); }

.c-seek-bar:hover > .c-sb-scrub {
  opacity: 1; }

.c-seek-bar > * {
  height: 3px; }

.c-seek-bar:hover > * {
  height: 5px; }

.c-sb-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.c-sb-prog {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  background-color: #75b540;
  position: absolute;
  z-index: 10; }

.c-sb-buff {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 5; }

.c-sb-scrub {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 5;
  opacity: 0; }

.c-sb-handle {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  border-radius: 0;
  background-color: #75b540;
  position: absolute;
  bottom: 1.5px;
  z-index: 10; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

/* Skellies */
.skel {
  background-color: #e6e6e6;
  background-image: none;
  box-shadow: none;
  border: none; }

.title.skel, .mini-title.skel {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 16px; }

.author.skel {
  margin-right: 4px;
  height: 16px;
  border: none;
  flex-grow: 1;
  width: 60%;
  margin-bottom: 6px; }

.views.skel {
  margin-left: 4px;
  height: 16px;
  border: none;
  flex-grow: 1; }

.description.skel {
  flex-grow: 1; }

.show-full.skel {
  border: none;
  margin-top: -2px;
  cursor: inherit; }

.show-full.skel:hover {
  background-color: #e6e6e6; }

/*# sourceMappingURL=home.css.map */
