$sb-colour: #191C17;
$bar-colour: #75b540;
$bar-bg: rgba(255, 255, 255, 0.25);

$button-col: #ddd;

.central-body {
  padding: 0;
}
.central-body {
  display: flex;
  flex-direction: row;
}
.sidebar-left {
  width: 56px;
  height: 100%;
  background-color: $sb-colour;
}

.page-body {
  flex-grow: 1;
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
}
.heading {
  width: 100%;
  padding-bottom: 5px;
}
#title {
  width: 100%;
  line-height: 46px;
  font-size: 38px;
}
#tags {
  width: 100%;
  font-size: 0;
}
#tags>* {
  height: 28px;
  float: left;
  margin: 3px 3px;
  padding: 0 5px;
  line-height: 28px;
  font-size: 14px;
}
.tag {
  box-shadow: 0 0 1px #000;
  border-radius: 5px;
  background-color: #fff;
  color: #1F4600;
}
#tags-sub {
  color: #808080;
  margin-left: 2px;
}

.mid-section {
  flex-grow: 1;
}
.video-area {
  width: 75%;
  height: 0;
  padding-bottom: 42.2%;
  background-color: #000;
  float: left;
  position: relative;
}
.watch-next {
  width: 25%;
  padding-left: 16px;
  height: 100%;
  min-height: 100%;
  float: right;
}
.next-thumb {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #eee;
  margin-bottom: 16px;
  position: relative;
}
.next-thumb:after {
  content: '\f03d';
  font-family: FontAwesome;
  color: #ccc;
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* VIDEO VIEWER */
.video-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.video-stream {
  width: 100%;
  height: 100%;
  position: absolute;
}
.video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65));
  transition: opacity 0.2s ease-in-out;
}
/*.video-controls:hover {
  opacity: 1;
}*/
.c-seek-bar {
  flex-grow: 1;
}
.inner-controls>button {
  color: $button-col;
}
.inner-controls>* {
  height: 100%;
  margin: 0 5px;
  color: #eee;
  background: none;
  decoration: none;
  outline: none;
  line-height: 36px;
  font-size: 16px;
}
.inner-controls {
  display: flex;
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 0;
  height: 36px;
}
#timestamp {
  padding-top: 0.5px;
}
.c-seek-bar {
  height: 15px;
  left: 16px;
  right: 16px;
  bottom: 36px;
  position: absolute;
  background-color: transparent;
}
.c-seek-bar:hover>.c-sb-handle {
  height: 13px;
  width: 13px;
  border-radius: 6.5px;
  top: 50%;
  transform: translateY(-50%);
}
.c-seek-bar:hover>.c-sb-scrub {
  opacity: 1;
}
.c-seek-bar>* {
  height: 3px;
}
.c-seek-bar:hover>* {
  height: 5px;
}
.c-sb-bg {
  background-color: $bar-bg;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.c-sb-prog {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  background-color: $bar-colour;
  position: absolute;
  z-index: 10;
}
.c-sb-buff {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  position: absolute;
  background-color: $bar-bg;
  z-index: 5;
}
.c-sb-scrub {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  position: absolute;
  background-color: $bar-bg;
  z-index: 5;
  opacity: 0;
}
.c-sb-handle {
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  border-radius: 0;
  background-color: $bar-colour;
  position: absolute;
  bottom: 1.5px;
  transform: translateX(-50%);
  z-index: 10;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
