{% extends 'headed.html' %}

{% block title %}Upload{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/upload.css"/>
{% endblock %}

{% block body %}

    <div id="upload-region">
        <div id="middle-logo">
            <i id="ml-ico" class="fa fa-upload"></i>
            <div id="ml-cap">Select a file to upload</div>
            <div id="ml-sub">Or drag and drop it here</div>
            <div id="ml-name">No file selected</div>
            <div id="continue-btn" class="btn disabled">Continue</div>
        </div>

        <div id="uploading" style="display: none" class="fb">
            <div id="uploading-sidebar">
                <div id="video-thumb"></div>
                <p id="sb-sub" style="display: none">Your video will be available at <a id="video-result-url" href=""></a> when processing is finished.<br><br><br><a href="">Learn more</a></p>
            </div>
            <div id="uploading-main" class="fc">
                <div class="fb">
                    <div id="upload-bar"><span>Uploading | Peniding</span><div id="u-bar-progress">Uploading | Pening</div></div>
                    <div class="btn il-btn">Post</div>
                </div>
                <div id="tabs">
                    <div id="details-tab" class="tab active">Details</div>
                    <div id="privacy-tab" class="tab">Privacy</div>
                </div>

                <input type="text" id="title" placeholder="Title" title="Video Title"/>
                <textarea class="fg" placeholder="Description" rows="4" title="Video Description" id="description"></textarea>
                <div id="tags"><input id="current-tag" placeholder="Add a tag"/></div>

                <div style="display:none" class="dd-parent" id="privacy-dd">
                    <select title="Privacy settings">
                        <option value="pub">Public (Anyone can find this video)</option>
                        <option value="unl">Link only (A link is needed to find this video)</option>
                        <option value="pri">Private (Only you can watch this video)</option>
                    </select>
                    <a href="">Which do I want?</a>
                </div>

                <div style="display:none" class="dd-parent" id="license-dd">
                    <select title="License settings">
                        <option value="nl">No License</option>
                        <option value="cc">Creative Commons CC BY</option>
                    </select>
                    <a href="">Should I use a license?</a>
                </div>
            </div>
        </div>

        <input id="file-upload" type="file" style="display: none" />
    </div>

{% endblock %}

{% block foot %}
    <script src="/assets/js/upload.js" type="text/javascript"></script>
{% endblock  %}